<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="id">Código</label>
                <input type="number" name="id" placeholder="Informe o código do livro">
            </div>
            <div>
                <label for="nome">Título</label>
                <input type="text" name="nome" placeholder="Informe o título do livro">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="number" name="preco" placeholder="Informe o preço do livro">
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea type="text" name="descricao" placeholder="Informe a descricao do livro"></textarea>
            </div>
            <input type="submit" value="gravar">
        </form>
    </body>
</html>